<tr bgcolor=ffffff>
    <td align="right" valign="top" bgcolor="fffff0">
        <span class="label">WS URL:</span>
    </td>
    <td bgcolor="ffffff" nowrap>
        <input type="text" name="url" value="${url}"/>
        <br><font size="1">The URL of the Web Service to invoke.</font>
    </td>
</tr>

<tr bgcolor=ffffff>
    <td align="right" valign="top" bgcolor="fffff0">
        <span class="label">WS Username:</span>
    </td>
    <td bgcolor="ffffff" nowrap>
        <input type="text" name="username" value="${username}"/>
        <br><font size="1">The username with priviliges to invoke the Web Service.</font>
    </td>
</tr>

<tr bgcolor=ffffff>
    <td align="right" valign="top" bgcolor="fffff0">
        <span class="label">WS Password:</span>
    </td>
    <td bgcolor="ffffff" nowrap>
        <input type="password" name="password" value="${password}"/>
        <br><font size="1">The password for the user with priviliges to invoke the Web Service.</font>
    </td>
</tr>

<tr bgcolor=ffffff>
    <td align="right" valign="top" bgcolor="fffff0">
        <span class="label">WS Request XML Template:</span>
    </td>
    <td bgcolor="ffffff" nowrap>
    	<textarea name="requestTemplate" cols="25" rows="30">${requestTemplate}</textarea>
        <br><font size="1">The Web Service Request XML template.</font>
    </td>
</tr>

<tr bgcolor=ffffff>
    <td align="right" valign="top" bgcolor="fffff0">
        <span class="label">Throw Exceptions:</span>
    </td>
    <td bgcolor="ffffff" nowrap>
    	<input type="checkbox" name="throwException" value="true" #if("true" == $throwException)checked="true"#end />
        <br><font size="1">Whether exceptions inside the Post-Function should be thrown or not.</font>
    </td>
</tr>

<tr bgcolor=ffffff>
    <td align="right" valign="top" bgcolor="fffff0">
        <span class="label">Response Status Field:</span>
    </td>
    <td bgcolor="ffffff" nowrap>
        <input type="input" name="statusField" value="${statusField}"/>
        <br><font size="1">Name of the JIRA field where the response status should be copied.</font>
    </td>
</tr>

<tr bgcolor=ffffff>
    <td align="right" valign="top" bgcolor="fffff0">
        <span class="label">Response Message Field:</span>
    </td>
    <td bgcolor="ffffff" nowrap>
        <input type="input" name="messageField" value="${messageField}"/>
        <br><font size="1">Name of the JIRA field where the response message should be copied.</font>
    </td>
</tr>

<tr bgcolor=ffffff>
    <td align="right" valign="top" bgcolor="fffff0">
        <span class="label">XML Response Field:</span>
    </td>
    <td bgcolor="ffffff" nowrap>
        <input type="input" name="responseField" value="${responseField}"/>
        <br><font size="1">Name of the JIRA field where the XML response message should be copied.</font>
    </td>
</tr>
